In [4]:
#import Essential Libraries.
import numpy as np
import pandas as pd

In [27]:
#1.ques: create a Numpy array with  elements[10,20,30,40,50]
arr = np.array([10,20,30,40,50])
print(arr)
print(arr.dtype)

[10 20 30 40 50]
int64

In [7]:
#2.Create a Numpy array of all zeros of size 5. 
arr1 = np.zeros(5)
print(arr1)

[0. 0. 0. 0. 0.]

In [13]:
#3.Create a Numpy array of all ones of shape (3,3)
arr2 = np.ones((3,3))
print(arr2)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [26]:
#4.Find the data type of Numpy Array.
print(arr2.dtype)

float64

In [17]:
#5.Create an array using np.linespace() betweem 0 and 1 with 5 values.
arr4 = np.linspace(0,1,5)
print(arr4)

[0.   0.25 0.5  0.75 1.  ]

In [29]:
#6.Reshape a 1-D array of size 6 into 2x3 matrix.
arr5 = np.array([1,2,3,4,5,6])
print(arr5)

[1 2 3 4 5 6]

In [31]:
arr6 = arr5.reshape(2,3)
print(arr6)

[[1 2 3]
 [4 5 6]]

In [21]:
#9.Create a Pandas sereis from a list.
mylist = ([1,2,3,4,5,6,7,8])
print(pd.Series(mylist))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [37]:
#10.Create a data frame from a dictionary.
data={
    "Empid":[1001,1002,1003,1004],
    "EmpName":['Akram','Arun','Ratnesh','Nehal'],
    "Salary" :[50000,45000,60000,40000]
}
df= pd.DataFrame(data)
df

   Empid  EmpName  Salary
0   1001    Akram   50000
1   1002     Arun   45000
2   1003  Ratnesh   60000
3   1004    Nehal   40000

In [32]:
# 7 . find the dimension and shape of an array.
print("Dimension=",arr6.ndim)
print("shape=",arr6.shape)

Dimension= 2
shape= (2, 3)

In [33]:
#8.convert python list into Numpy array.

In [39]:
#11.display first 3 rows of dataframe
df.head(3)

   Empid  EmpName  Salary
0   1001    Akram   50000
1   1002     Arun   45000
2   1003  Ratnesh   60000

In [41]:
#12.display last 2 rows of a dataframe.
df.tail(2)

   Empid  EmpName  Salary
2   1003  Ratnesh   60000
3   1004    Nehal   40000

In [42]:
#13.find number of rows an column in data frame.
rows , columns=df.shape
print("Rows=",rows)
print("Columns=",columns)

Rows= 4
Columns= 3

In [43]:
#14.display columns name of datafarme.
print(df.columns)

Index(['Empid', 'EmpName', 'Salary'], dtype='object')

In [44]:
#15.select a single columns from a dataframe.
df['Empid']

0    1001
1    1002
2    1003
3    1004
Name: Empid, dtype: int64

In [47]:
#16.select multiple columns from a dataframe.
df[['Empid','EmpName','Salary']]

KeyError: ('Empid', 'EmpName', 'Salary')

In [46]:
#17.check data type of all columns.
df.dtypes

Empid       int64
EmpName    object
Salary      int64
dtype: object