In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1 find the total no.of rows and columns.
df=pd.read_csv("insurance.csv")
df.head()

,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87
1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51
2,3,NaN,male,33.3,82,Yes,0,No,southeast,1135.94
3,4,NaN,male,33.7,80,No,0,No,northwest,1136.40
4,5,NaN,male,34.1,100,No,0,No,northwest,1137.01

In [3]:
rows, columns = df.shape
print(rows)
print(columns)

1340
10

In [4]:
#2 print the column name of the dataset.
df.columns

Index(['PatientID', 'age', 'gender', 'bmi', 'bloodpressure', 'diabetic',
       'children', 'smoker', 'region', 'claim'],
      dtype='object')

In [5]:
#3.check the data type of all columns.
df.dtypes

PatientID          int64
age              float64
gender            object
bmi              float64
bloodpressure      int64
diabetic          object
children           int64
smoker            object
region            object
claim            float64
dtype: object

In [6]:
#4.count the number of missing values in each column.
df.isnull().sum()

PatientID        0
age              5
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           3
claim            0
dtype: int64

In [7]:
#5.Replace missing values in the age column with the mean agdf["mean age"]
df["age"].fillna(df["age"].mean(),inplace=True)
df.head()

,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,1,39.000000,male,23.2,91,Yes,0,No,southeast,1121.87
1,2,24.000000,male,30.1,87,No,0,No,southeast,1131.51
2,3,38.078652,male,33.3,82,Yes,0,No,southeast,1135.94
3,4,38.078652,male,33.7,80,No,0,No,northwest,1136.40
4,5,38.078652,male,34.1,100,No,0,No,northwest,1137.01

In [8]:
#6.Find the average BMI of patients.
print(df["bmi"].mean())

30.668955223880598

In [9]:
#7.find the maximum and minimum insurance claim.
print(df["claim"].max())
print(df["claim"].min())

63770.43
1121.87